body{
    padding: 0px;
    margin: 0px;
    background-color: black;
    height: 10000px;
}
.NavBar{
    width: 100vw;
    background-color: dimgray;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0px;
}
.NavBar div{
    color: white;
    font-size: xx-large;
    margin: 0px 10px 0px 10px;
}
.NavBar div:hover{
    background-color: lightgray;
}
main{
    color: white;
    padding-left: 10%;
}
main h1{
    font-size: 50px;
}
.NavBar a{
    color: inherit;
    text-decoration: none;
}
.AboutMe div{
    color: white;
    padding-left: 10%;
    padding-right: 10%;
}
.AboutMe div h2{
    color: white;
    text-decoration: underline;
}
